<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="base :: csslinks"> </th:block>
    <title>MovieFinder - Home Page</title>
</head>

<body>
<nav th:replace="base :: navbar"></nav>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="jumbotron text-sm-center">
        <h1 class = "display-1">Welcome to MovieFinder!</h1>
        <a th:href="@{/addmovie}"><button class="btn btn-info btn-lg">Add Movie Information</button></a>
    </div>
</div>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>